.App {
  text-align: center;
}

.venue-item {
  text-align: center;
  padding: 15px;
}
.place-input {
  width: 100%;
}
.place-button-title-group {
    display: flex;
    justify-content: space-around;
}
.padding-15 {
    padding: 15px;
}
